@model IPC2_Proyecto2_202303088.Modelos.SistemaDrones

<h1>Detalle del Sistema</h1>

<p><strong>Nombre:</strong> @Model.Nombre</p>
<p><strong>Altura Máxima:</strong> @Model.AlturaMaxima</p>

<h2>Drones</h2>

<ul>
@{
    var actual = Model.Drones.ObtenerCabeza();

    while (actual != null)
    {
        var dron = (IPC2_Proyecto2_202303088.Modelos.Dron)actual.Dato;
        <li>@dron.Nombre</li>
        actual = actual.Siguiente;
    }
}
</ul>

<h2>Alturas</h2>

<ul>
@{
    var actualAlt = Model.Alturas.ObtenerCabeza();

    while (actualAlt != null)
    {
        var altura = (IPC2_Proyecto2_202303088.Modelos.Altura)actualAlt.Dato;
        <li>Nivel @altura.Nivel - @altura.Letra</li>
        actualAlt = actualAlt.Siguiente;
    }
}
</ul>

<br />

<a href="/Sistema">
    <button>Volver</button>
</a>